.search-bar {
  margin : 20px ;
  text-align : centre ;
}

.search-bar input {
  width: 85%;
}




.list-group-item {
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #d6cecd;
}

.logoImage{
  margin: 5px;
  margin-top: -5px;
  width: 80px;
  height: 50px;
  float: left;
}
